<%= form_tag filter_results_path, method: :get do %>
    <label for=":filter_by">Categories:</label>
    <%= select_tag :filter_by, options_from_collection_for_select(Category.all, 'id', 'name'), :include_blank => 'Default'%>
    <%= submit_tag 'Filter'%>
<% end %>
