/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 /* End of CSS Reset */

@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text');

/* General Styling */

html {
  font-family: 'Fanwood Text', serif !important;
}

body {
  background-color:$bg-primary;
  color:$white !important;
}

.pagination {
 width:95%;
 display:flex;
 justify-content:center;
 float:none !important;
}

section {

  h1 {
    @include header_style(40px);
    text-align:center;
  }
}

.alert.alert-success {
  position:absolute;
  top:50%;
  left:45%;
}

.profiler-button.profiler-totals {
  display:hidden !important;
}
/* End of General Styling*/

/*Header and Navigation Styling*/
 header {
   width:100%;
   height:100px;
   background-color:$bg-lightest;
   border:solid 5px $border-color;

     h1 {
       @include header_style(50px);
       margin-top:.5%;
       margin-left:.5%;
     }

     form {
       width:99%;
       display:flex;
       justify-content: flex-end;
       margin-bottom:.5%;
       margin-top:-2.5%;

       input[type="text"] {
         width:15%;
         height:10px;
       }

       input[type=submit] {
         display:inline;
       }
     }

     .cart_link {
       @include links(24px);
       margin-left:84%;
       display:inline;

       p {
         display:inline;
       }
     }

     .cart_link:hover {
       color:$hover-color;
     }

     .username_message {
       padding-left:1%;
       margin-top:-1%;
     }

     .log_link {
       @include links(16px);
       margin-left:1%;
     }

     .log_link:after {
       content:" |";
       padding-left:.5%;
     }

     .log_link:last-of-type:after {
       content:"";
     }
 }

 .main_nav {
     height:40px;
     background-color: $bg-primary;
     display:flex;
     justify-content:center;
     font-size:20px;
     color:$white;
     border:solid 2px $border-color;
     line-height: 1.8em;

     ul {
         list-style-type:none;
         width:50em;
         margin:0 auto;
         text-align: center;
     }

     li {
         display:inline;
         margin-right:5%;
     }

     a {
         @include links(30px);

         &:visited {
           color:$white;
         }

         &:hover {
           color:rgb(60, 64, 65);
         }
     }
 }
 /*End of Header/Navigation styling*/

 /*Footer styling*/
   footer {
     width:100%;
     height:200px;
     background-color:black;
     text-align:center;

     h1 {
       @include header_style(24px);
       padding-top:2%;
       padding-bottom:2%;
     }

     .footer_nav {
         height:40px;
         display:flex;
         justify-content:center;
         font-size:14px;
         color:$white;

         ul {
           width:50em;
           list-style-type:none;
           margin:0 auto;
           text-align: center;
         }

         li {
             display:inline;
             margin-right:1%;
         }

         li:after {
           content:" |";
           padding-left:.5%;
         }

         li:last-of-type:after {
           content:"";
         }

         a {
             @include links(14px);

             &:visited {
               color:$white;
             }

             &:hover {
               color:$hover-color;
             }
         }
     }
   }
 /*End of Footer styling*/

/*Home Page styling*/
 #welcome {
   width:90%;
   margin:0 auto;
   text-indent:2%;

   h1 {
     @include header_style(40px);
     text-align:center;
     padding:2%;
   }

   .game_container, .expansion_container {
     margin-left:5%;
   }
 }
 /*End of Home Page styling*/

/* Products Page styling*/
.shopping_area {
  display:flex;
  justify-content:flex-start;

  aside {
    @include opacity(.8);
    width:200px;
    background-color: $bg-lighter;
    margin-left:1%;
    padding:.5%;
    border: solid 2px rgb(161, 161, 161);

    form {
      margin-left:10%;

      .lblHeading {
        font-size:25px;
        display:block;
        padding-top:10%;
        padding-bottom:.5%;
      }

      .lblOption {
        display:block;

      }
    }
  }
}
/*End of Products Page styling*/

/*Board game and Expansion styling*/
 .game_container, .expansion_container {
 	display:flex;
 	justify-content: center;
 	flex-wrap: wrap;
 	width:90%;

  .wrapper {
    margin:.5%;

    h1, h2, h3 {
      color:$white;
    }

    .opacity_wrapper {
      @include opacity(1);
      width:200px;
   		height:200px;
   		text-align:center;
   		border: solid 2px rgb(161, 161, 161);
   		margin:.5%;
      position:relative;
      overflow:hidden;

      .new_game_indicator {
        @include opacity(.7);
        @include rotate(40deg);
        z-index:1;
        width:110px;
        height:20px;
        background-color:$new;
        position:absolute;
        top:20px;
        left:110px;
      }

      .on_sale_indicator {
        @extend .new_game_indicator;
        background-color:$sale;
      }
    }

    .board_game, .expansion {
      @extend .opacity_wrapper;
      @include opacity(.2);
      background-size:cover;
      background-repeat:no-repeat;
      background-position: center top;

      .hide {
        width:100%;
        padding:2%;
        display:none;
        border:solid thin 2px #000;
        background-color:$bg-primary;
        opacity:.8;

        h2 {
          font-size:20px;
          padding:1%;
          text-align:center;
          text-shadow:3px 3px 3px #000;
        }
      }

      &:hover {
        @include opacity(1);
      }

      &:hover .hide{
        display:block;
        position:absolute;
        bottom:0;
      }
   	}
  }
 }

.single_product {
  width:80%;
  margin:0 auto;
  text-align:center;

  h1, h2, p {
    color:$white;
  }

  h1 {
    font-size:30px;
  }
}
/*End of Board game and Expansion styling*/

/*Contact Page styling*/

.contact_form {

  width:70%;
  margin:0 auto;
  border:solid 2px $bg-lightest;

  label {
    @include header_style(24px);
    display:block;
    padding-top:1%;

    input {
      width:20%;
      padding-bottom:1%;
    }

    input[type=submit] {
      display:block;
    }

    input[type="textarea"] {
      display:block;
    }

  }
}
/*End of Contact Page styling*/

/*Cart Page styling*/
.cart {
  width:90%;
  margin:0 auto;

  form {
    text-align:center;
  }

  h1 {
    padding-bottom:2%;
  }

  .cart_item {
    width:60%;
    display:flex;
    justify-content: flex-start;
    margin:0 auto;
    padding:1%;
    border: solid 2px $bg-lighter;

    .inner_cart_item {
      padding-left:2%;

      h2 {
        @include header_style(24px);
        text-decoration:underline;
        padding-bottom:2%;
      }

      h3 {
        @include header_style(20px);
      }

        .cart_item_top {
          padding-top:1%;
          line-height:2em;

          hr {
            width:500px;
          }
        }

        .cart_item_bottom {

          a {
            @include links(18px);
          }
        }
    }
  }
}
/*End of Cart Page styling*/
