/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 /* End of CSS Reset */

/* Variables */
 $bg-primary: rgb(61, 61, 61);
 $bg-lighter: rgb(111, 109, 109);
 $bg-lightest: rgb(138, 138, 138);

 $border-color: rgb(17, 16, 18);

 $white: rgb(255, 255, 255);
 $sale: rgb(255, 0, 0);
 $new: rgb(0, 255, 25);
 /* End of Variables */

/* General Styling */
body {
  background-color:$bg-primary;
  color:$white !important;
}

.pagination {
 width:95%;
 display:flex;
    justify-content:center;
 float:none !important;
}
/* End of General Styling*/

/*Header and Navigation Styling*/
 header {
   width:100%;
   height:100px;
   background-color:$bg-lightest;
   border:solid 5px $border-color;

     h1 {
         font-size:40px;
         font-weight:bold;
         margin-top:.5%;
         margin-left:.5%;
         color:$white;
         text-shadow:2px 2px 2px #000;

     }

     form {
       width:99%;
       display:flex;
       justify-content: flex-end;
       margin-bottom:3%;
       margin-top:-2.5%;

       input[type="text"] {
         width:15%;
         height:10px;
       }

       input[type=submit] {
         display:inline;
       }
     }

     .cart_link {
       color:$white;
       font-size: 24px;
       text-decoration:none;
       position:absolute;
       right:1%;
       top:10%;
       display:inline;

       p {
         display:inline;
       }
     }

     .cart_link:hover {
       color:$sale;
     }
 }

 .main_nav {
     height:40px;
     background-color: $bg-primary;
     display:flex;
     justify-content:center;
     font-size:20px;
     color:$white;
     border:solid 2px $border-color;
     line-height: 1.8em;

     ul {
         list-style-type:none;
         width:50em;
         margin:0 auto;
         text-align: center;
     }

     li {
         display:inline;
         margin-right:5%;
     }

     a {
         text-decoration: none !important;
         color:$white;

         &:visited {
           color:$white;
         }

         &:hover {
           background-color:$white;
           color:rgb(60, 64, 65);
         }
     }
 }

 #filterOptions {
   width:80%;
   height:40px;
   margin: 0 auto;
   display:flex;
   justify-content: center;

   form {
     display:inline;
     margin-top:.5%;
     margin-right:3%;
     input[type=submit] {
       display:inline;
     }
   }
 }
 /*End of Header/Navigation styling*/

 /*Footer styling*/
   footer {
     width:100%;
     height:400px;
     background-color:black;
   }
 /*End of Footer styling*/

 #welcome {
   width:90%;
   margin:0 auto;
   text-indent:2%;

   h1 {
     color:$white;
     font-size:40px;
     text-align:center;
     padding:2%;
   }
 }

/*Board game and Expansion styling*/
 .game_container, .expansion_container {
 	display:flex;
 	justify-content: center;
 	flex-wrap: wrap;
 	width:100%;
 	margin-left:1%;

  .wrapper {
    margin:.5%;

    .board_game, .expansion {
   		width:200px;
   		height:200px;
   		text-align:center;
   		border: solid 2px rgb(161, 161, 161);
   		margin:.5%;
      position:relative;
      background-size:cover;
      background-repeat:no-repeat;
      background-position: center top;
      -webkit-filter: opacity(.2);
      filter: opacity(.2);
      overflow:hidden;

   		h1, h2, h3 {
        color:$white;
   		}

      .new_game_indicator {
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(40deg);
        -webkit-filter: opacity(1);
        filter: opacity(1);
        width:110px;
        height:20px;
        background-color:$new;
        position:absolute;
        top:20px;
        left:110px;
      }

      .on_sale_indicator {
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(40deg);
        -webkit-filter: opacity(1);
        filter: opacity(1);
        width:110px;
        height:20px;
        background-color:$sale;
        position:absolute;
        top:20px;
        left:110px;
      }


      .hide {
        width:100%;
        padding:2%;
        display:none;
        border:solid thin 2px #000;
        background-color:$bg-primary;
        opacity:.8;

        h2 {
          font-size:20px;
          padding:1%;
          text-align:center;
          text-shadow:3px 3px 3px #000;
        }
      }

      &:hover {
        filter: opacity(1);
      }

      &:hover .hide{
        display:block;
        position:absolute;
        bottom:0;
      }
   	}
  }

  .addTo {
    position:relative;
    margin-top:50px;
  }
 }

.single_product {
  width:80%;
  margin:0 auto;
  text-align:center;

  h1, h2, p {
    color:$white;
  }

  h1 {
    font-size:30px;
  }
}
/*End of Board game and Expansion styling*/
