<%= render 'partials/header' %>
<section>
    <div id="filter">
        <!-- <h3>Order:</h3>
        <select>
            <option value="Alphabetically">Alphabetically</option>
            <option value="Newest">Newest</option>
            <option value="Oldest">Oldest</option>
            <option value="Lowest Price">Lowest Price/option>
            <option value="Highest Price">Highest Price</option>
        </select>
        <h3>Filter By:</h3>
        <select>
            <option value="New">None</option>
            <option value="New">New</option>
            <option value="New">On Sale</option>
        </select> -->
        <%= render 'partials/categoryFilter' %>
        <%= render 'partials/search'%>
    </div>

    <% if @games.size.zero? %>
        <p>No Results Found.</p>
    <%else%>
        <%= render 'partials/boardgames' %>
    <%end%>
</section>
