/ <%= render 'partials/header' %>
/ <section>
/     <div id="filter">
/         <h3>Order:</h3>
/         <select>
/             <option value="Alphabetically">Alphabetically</option>
/             <option value="Newest">Newest</option>
/             <option value="Oldest">Oldest</option>
/             <option value="Lowest Price">Lowest Price</option>
/             <option value="Highest Price">Highest Price</option>
/         </select>
/         <h3>Filter By:</h3>
/         <select>
/             <option value="New">None</option>
/             <option value="New">New</option>
/             <option value="New">On Sale</option>
/         </select>
/     </div>
/
/     <%= render 'partials/categoryFilter' %>
/     <%= render 'partials/search'%>
/     <%= render 'partials/boardgames' %>
/     <%= paginate @games %>
/ </section>

= render 'partials/header'
section
    div
        = render 'partials/categoryFilter'
        = render 'partials/boardgames'
        = paginate @games
